Body {
    display: block;
    margin: 0px;
    padding: 10px;
}

.after::after {
    content: " <- after";
}
.before::before {
    content: "before -> ";
}
#fl::first-letter{
    color: salmon;
    font-size: 60px;
}
.divv{
    border: 1px black solid;
    width: fit-content;
}
#fln::first-line{
    color: red;
}
.mark::marker{
    color: pink;
}
#select::selection{
    color: chocolate;
    background-color: black;
}
.act:active{
    color: salmon ;
    background-image: url(Bonzi_Buddy.png);
}
input[type=text]:enabled {
    background: #65ff51;
}
input[type=text]:disabled{
    background: rgb(240, 128, 128);
}
.emp:empty {
    width: 200px;
    height: 20px;
    background-color: violet;
}